footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
    background-color: #B5B2C2;
    border-top: 6px solid #232C33;
    text-align: center;
    padding-bottom: 25px;
   }

.navbar {
    background-color: #232C33;
    color: #DFF8EB;
}

body {
    background-color: #DFF8EB;
}

.container {
    background-color: #5A7D7C;
    height: 100%;
    margin-bottom: 30px;
}
h2 {
    border-bottom: 3px solid #232C33;
    margin-top: 20px;
}
.row {
    margin-top: 8%;
    height: 15%
}
.fas{
    color: #A0C1D1;
}
.img-thumbnail{
    height: 250px;
    width: 250px;
}
a{
    color: #EFAD8B
}
#profRow1{
    margin: 5%;
}
#profPic, #profContent{
    margin: 15px;
}
@media screen and (max-width: 576px) {
    .container{
        max-width: 90%;
        margin-bottom: 50px;
    }
}
/* @media (max-width: 768px) { 
    .container{
        max-width: 90%;
    }
} */