footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
    background-color: #B5B2C2;
    border-top: 6px solid #232C33;
    text-align: center;
    padding-bottom: 25px;
   }
.navbar {
    background-color: #232C33;
    color: #DFF8EB;
}
body {
    background-color: #DFF8EB;
}
.container {
    background-color: #5A7D7C;
    height: 100%;
    margin-bottom: 30px;
    
}
h2 {
    border-bottom: 3px solid #232C33;
    margin-top: 20px;
}

.aboutHeader {
    font-size: 1.25rem;
    align-content: center;
}
.aboutContent {
    height: 10rem;
    width: 100%;
    overflow-y: scroll;
}
.row {
    margin-top: 5%;
    height: 15%
}
.fas{
    color: #A0C1D1;
}
.img-thumbnail{
    height: 250px;
    width: 250px;
    margin: auto;  /* Magic! */    
    
}
a{
    color: #EFAD8B
}
#profRow1{
    margin: 5%;
}
#profPic, #profContent{
    margin: 15px;    
}
h3 {
    text-align: center;
}
#containerMod {
    margin-bottom: 65px;
    padding: 10px;
    padding-top: 0px;
}
.imgAlign{
    display: flex;
}
#profPic{
    height: 95%;
    width: 95%;
    /* border-width: 2px;
    border-color: #B5B2C2; */
    /* margin: auto; */
}
/* .imgCenterMod {
    display: flex;
    justify-content: center;
    align-items: center;

} */
#gif{
    height: 268px;
    width: 1114px;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #343a40;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: #B5B2C2;
    border-radius: 25px;
}

@media screen and (max-width: 576px) {
    .container{
        max-width: 90%;
        margin-bottom: 50px;
        padding-left: 13px;
    }
    #profPic, #profContent{
        margin-left: 0px;
    }
    h2 {
        text-align: center;
    }
}
@media (max-width: 768px) { 
    #contactRow2 {
        margin-top: 2%;
    }    
}
@media (max-width: 991.98px) { 
    #contactRow2 {
        margin-top: 2%;
    }    
}
@media (max-width: 1199.98px) {
    #contactRow2 {
        margin-top: 2%;
    }    
}
@media (max-width: 2560px) {
    #contactRow2 {
        margin-top: 2%;
    }    
}